*{
	margin: 0;
	padding: 0;
}

body {
background-image: url("http://2.bp.blogspot.com/-x8WzPQfDrNE/TVgaYHZoGMI/AAAAAAAAAYY/dgZaxN_HEeE/s1600/Filosofia+da+Mente.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
}
/* INDEX */

.cor{
	color: #96C0F4;
}


@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.inicio{
	font-size: 16px;
}

 #ul{
 	margin-left: 10px;
 	font-size: 16px;
 }

#aristoteles1{
	float: left;
	margin-right:5px;
}

#inicio,
#biografia,
#curiosidades,
#teorias{
	transition: 1s;
}

#inicio:hover,
#biografia:hover,
#curiosidades:hover,
#teorias:hover {
	transition: 1.5s;
	font-size: 15.5px;
	color: black;
	border-radius: 5px;
	background-color: #E0E3E4;
	
}

#img-mundo{
	float: left;
}

#img-mundo2{
	float: right;
}

#ol1{
	margin-left: 10px;
 	font-size: 16px;
}


.list-group-item {
	color: black;
}

#img-alexandre{
	float: left;
}

#ul{
	margin-left: 10px;
 	font-size: 16px;
}

#img-tumulo{
	float: right;
}
